[[source]]
verify_ssl = true
name = "awaken-email-service"
url = "https://pypi.python.org/simple"

[packages]
django = "4.0"
django-debug-toolbar = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
