[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-expects-json = "*"
asyncio = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
